# Ignore Python cache and virtual environment
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.env

# Ignore Terraform files
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl

# Ignore log files
logs/
*.log

# Ignore output
output/

# Idea
.idea/
